@use "../styles/mixins.scss" as globalMixins;

.link {
  color: var(--black-color);
  transition: var(--transition-03);
  font-weight: 700;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    color: var(--violett-color);

    &::before {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  &.active {
    color: var(--violett-color);
    font-weight: bold;
    &::before {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 50%;
    height: 35px;
    width: 65px;

    @include globalMixins.background-image(
      "/src/assets/icons/nav/current_section.png",
      $size: contain,
      $position: none
    );

    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  &_small {
    font: var(--smallest-font);
    text-decoration: underline;
    color: var(--white-color);
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus,
    &_active {
      color: var(--blue-color);
    }
  }
}
